@font-face {
    font-family: "Metropolis";
    src: url(../fonts/metropolis.regular.otf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Metropolis";
    src: url(../fonts/metropolis.medium.otf) format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Metropolis";
    src: url(../fonts/metropolis.semi-bold.otf) format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: "Metropolis";
    src: url(../fonts/metropolis.bold.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Metropolis";
    src: url(../fonts/metropolis.extra-bold.otf) format("opentype");
    font-weight: 800;
}
