.trusted {
    width: 100%;
    height: auto;
    background-color: #FAF9FA;
    margin-bottom: 110px;

    &__inner {
        padding: 50px 0;
    }

    &__title {
        margin-bottom: 46px;

        font-weight: 700;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
    }

    &__links {

        &_firstline {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 40px;
        }

        &_secondline {
            display: flex;
            justify-content: space-evenly;
        }
    }


    &__item {
        display: flex;
        align-items: center;
    }

    &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: $blacktitle;
    }
}

.margin {
    margin-right: 12px;
}
