// Container & Breakpoints
@use "sass:math";
$containerWidth: 1080 + px;
$breakpoint1400: 1399.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$white: #ffffff;
$blacktitle: #232427;
$black: #000000;
$blue: #2962ef;
$lightgray: #9998a4;
$darkgray: #5e5c6c;
