@import "vars";

@media (max-width: $breakpoint480) {

    //Global

    .display_none {
        display: none;
    }

    //Header

    .header {
        background-color: #f8f8fa;
        box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.356);
        padding: 20px;
    }

    .logo {
        font-size: 20px;
    }

    .nav {
        width: 100%;
        max-width: 50%;

        &__link {
            font-size: 16px;

            &_discord {
                .fa-discord {
                    font-size: 22px;
                }

                &::after {
                    display: none;
                }
            }

            &_twitter {
                .fa-twitter {
                    font-size: 22px;
                }

                &::after {
                    display: none;
                }
            }

            &_button {
                display: none;
            }
        }
    }


    //Intro

    .intro {
        margin: 40px 0 50px;
        padding: 0 20px 0;
        overflow-x: hidden;

        &::after {
            content: "";
            display: block;
            margin: 50px auto 0;
            width: 100%;
            max-width: 280px;
            height: 1px;
            background-color: $lightgray;
            opacity: .5;
        }

        &__links {
            flex-direction: column;
            margin: 340px auto 0;

            .background__image {
                top: -370px;
                left: -45px;

                width: 220%;
            }

            &::after {
                content: "";
                display: block;
                margin: 0 auto 25px;
                width: 100%;
                max-width: 280px;
                height: 1px;
                background-color: $lightgray;
                opacity: .5;
            }
        }

        &__text {
            text-align: center;
            font-size: 14px;

            &_info {
                font-size: 10px;
            }
        }
    }

    .title {
        font-size: 45px;
        text-align: center;
    }


    .button {
        margin: 0 auto;
        padding: 13px 75px;
    }

    .link {
        margin: 20px auto;
    }

    .info {
        width: 100%;

        .section {
            margin-bottom: 110px;

            &__title {
                width: 100%;
                max-width: 342px;
                margin-bottom: 15px;

                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                color: $blacktitle;
            }


            &__subtitile {
                width: 100%;
                max-width: 281px;

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: $lightgray;
            }

        }


        .steps {
            display: grid;
            gap: 50px 20px;
            grid-template-columns: 1fr 1fr 1fr;

            &__header {
                padding-top: 99px;
                max-width: 400px;
                width: 100%;
                height: auto;
                color: red;
            }

            &__item {
                padding: 16px auto 45px;
                max-width: 400px;
                width: 100%;

                background: #FFFFFF;
            }

            &__title {
                margin: 0 auto;
                text-align: center;
            }


            &__text {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: $lightgray;
            }
        }

        .icon {
            width: 77px;
            height: auto;
            border-radius: 50%;
            padding: 21px 21px;
            background-color: #FAFBFD;
            margin-bottom: 40px;
            transition: all .2s linear;

            &__image {
                width: 100%;
                max-width: 35px;
                height: auto;
            }
        }

        &__number {
            margin-bottom: 0;
            text-align: center;
            font-size: 25px;
        }
    }


    // Section

    .section {
        margin-bottom: 110px;

        &__title {
            margin: 0 auto 15px;
            text-align: center;
        }


        &__subtitle {
            margin: 0 auto;
            text-align: center;
            max-width: 261px;
        }
    }


    .steps {
        gap: none;
        grid-template-columns: 1fr;
        grid-column-gap: 50px;
        justify-content: center;

        &__header {
            margin: 0 auto;
            padding-top: 0;
            max-width: 400px;
        }

        &__item {
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 45px;
            max-width: 400px;
        }


        &__title {
            text-align: center;
        }


        &__text {
            text-align: center;
        }
    }

    .icon {
        margin: 0 auto 40px;
    }
}